.logo {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}

.logo img {
    width: 80px;
    height: 80px;
}


.user-image {
    display: flex;
    justify-content: center;
    height: auto;
}

.userLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 9px solid rgb(77, 85, 100);
    margin-bottom: 42px;
}

.userLogo img {
    border-radius: 50%;
}

